/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#root {
  /* background-color:#f1f3f5 ; */
  /* background-color:#f4f4f4 ; */
  /* background-color:#a9aea2 ; */
  /* background-color:#2a4e35 ; */
  background-color:#21482d ;
  /* background-color:#afb9b2 ; */

  width: 100%;
  /* color: #a9aea2; */
  color: #e7e4db;
}

